<!DOCTYPE html>
<html>
<head>
	<title>Foodish</title>
	<!-- Logo -->
	<link rel="shortcut icon" href="/assets/logo.ico">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
	<div class="container">
        <h1><img src="/assets/logo.png" alt="logo" height="60"/> Foodish</h1>
        <p class="lead">&#x1F372; Random pictures of food dishes. &#x1F35B;</p>
        <h2 class="display-3">Aw, snap! We're out of that foodish.</h2>
        <span>Submit your favourite foodishes here : <a href="https://github.com/surhud004/Foodish/blob/master/CONTRIBUTING.md">GitHub</a></span>
        <% if (food.foodDB) { %>
            <ul>
                <% food.foodDB.forEach((dish) => { %>
                    <li><%= dish.title %> : <%= dish.count %></li>
                <% }) %>
            </ul>
        <% } %>
        <span>API available at : <a href="https://foodish.herokuapp.com/api/">https://foodish.herokuapp.com/api/</a></span>
        <footer class="footer">
            <p class="lead">Designed and Coded by : <a href="https://github.com/surhud004">surhud004</a> &copy; 2020</p>
            <!-- Build date : 10th October 2020 -->
        </footer>
    </div>
</body>
</html>