@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
}
body div {
  font-family: 'Lobster', cursive;
}
#imagebox {
  height: fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
#imagebox img {
  outline: 2px solid rgba(0, 0, 0, 0.582);
  border-radius: 20px;
  width: 500px;
  height: 500px;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 10px 0px;
}
#nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
#subhead {
  padding: 10px 0px 10px 35px;
  text-align: center;
  font-size: 1.2rem;
  outline: solid 1px white;
  box-shadow: inset 0px 3px 7px 1px rgba(0, 0, 0, 0.466);
}
#mainbox {
  margin: 50px 30px 50px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
#linksbox {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #343a40;
  padding: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
  width: 40%;
}
#linksbox ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 13px;
  margin-bottom: 30px;
}

#linksbox ul li {
  background-color: #f1f1f1;
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 40%;
  padding: 5px 10px 5px 15px;
}

#linksbox ul li:hover {
  background-color: #e9ecef;
}

#linksbox input.form-control {
  padding: 10px;
  width: 90%;
  margin: 10px 0;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 16px;
  color: #495057;
  overflow-x: scroll;
}

#linksbox input.form-control:focus {
  outline: none;
  border-color: #0056b3;
}

#linksbox span {
  font-size: 0.9rem;
  color: #6c757d;
}

#linksbox a {
  color: #007bff;
  text-decoration: none;
}

#linksbox a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position:relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}

.footer p {
  margin: 0;
  font-size: 1.1rem;
}

.footer a {
  color: #1abc9c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #16a085;
}

.footer::before {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #1abc9c;
  margin: 0 auto 10px;
  border-radius: 3px;
}
.errorbox {
  align-items: center;
  flex-direction: column;
  gap:10px !important;
}
.errorbox #linksbox {
  width: 90%;
}
h2{
  text-align: center;
}
/* media quaries  */
@media only screen and (max-width: 1060px) {
  #imagebox img {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 900px) {
  #imagebox img {
    width: 300px;
    height: 300px;
  }
  #linksbox ul li {
    width: 90%;
  }
}
@media only screen and (max-width: 720px) {
  #imagebox img {
    width: 80vw;
  }
  #linksbox {
    width: 90%;
  }
  #subhead{
    font-size: 1rem;
  }
}
